/*
Sass::SyntaxError: ".papers .textblock .window__paper a" failed to @extend "%squared_button".
The selector "%squared_button" was not found.
Use "@extend %squared_button !optional" if the extend should be able to fail.


Backtrace:
./scss/papers.scss:10
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/extend.rb:56:in `block in check_extends_fired!'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/util/subset_map.rb:105:in `block in each_value'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/util/subset_map.rb:105:in `each'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/util/subset_map.rb:105:in `each_value'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/extend.rb:51:in `check_extends_fired!'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/extend.rb:16:in `visit'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/root_node.rb:39:in `css_tree'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/plugin/compiler.rb:320:in `block in watch'
/Library/Ruby/Gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/Library/Ruby/Gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/Library/Ruby/Gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/Library/Ruby/Gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/Library/Ruby/Gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/Library/Ruby/Gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/Library/Ruby/Gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/Library/Ruby/Gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: \".papers .textblock .window__paper a\" failed to @extend \"%squared_button\".\A The selector \"%squared_button\" was not found.\A Use \"@extend %squared_button !optional\" if the extend should be able to fail.\A "; }
