.content {
  margin-top: 50px;
  width: 100%; }
  .content .backdrop {
    color: #70809077;
    font-size: 6rem;
    position: absolute;
    top: -70px;
    left: 0;
    z-index: -1; }
  .content .people-group:first-child {
    margin-top: 50px; }
  .content .people-group {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4rem;
    margin-left: auto;
    position: relative; }
  .content .people-column {
    width: 48%;
    margin-left: 4%; }
  .content .person {
    width: 100%;
    margin-bottom: 2rem; }
    .content .person img {
      width: 100%;
      height: auto;
      border: 1px solid black; }
    .content .person h1 {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem; }

@media only screen and (max-width: 640px) {
  .content .people-group {
    flex-direction: column;
    width: 100%; }
  .content .people-column {
    width: 100%;
    margin-left: 0; }
  .content .backdrop {
    top: -55px; } }

/* Mobile Styles Start*/
@media only screen and (max-width: 640px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    background: #d6e9fe; }
    .navbar div {
      height: 50px;
      width: 50px;
      padding: 4px; }
      .navbar div img {
        max-width: 100%;
        max-height: 100%; }
    .navbar ul {
      list-style: none;
      padding-top: 5px; }
      .navbar ul li {
        text-align: right; }
  .content {
    width: 100%;
    margin: 0 auto; }
    .content .pictures {
      position: relative;
      outline: 1px blue solid;
      height: 350px;
      width: 100%;
      margin-left: auto; }
  .flexbox {
    margin-top: 3rem;
    width: 92%;
    margin-right: auto;
    display: flex;
    justify-content: space-between; }
    .flexbox div {
      width: 40%; }
    .flexbox b {
      line-height: 2rem; }
    .flexbox a {
      font-weight: normal;
      color: palevioletred; } }

@media only screen and (min-width: 640px) {
  .content {
    width: 82%;
    margin: 0 auto;
    margin-bottom: 100px; }
    .content .pictures {
      position: relative;
      outline: 1px blue solid;
      height: 500px;
      width: 100%;
      margin-left: auto;
      margin-bottom: 100px; }
    .content .contact {
      position: relative;
      margin-top: 80px; }
      .content .contact .backdrop {
        color: #70809077;
        font-size: 6rem;
        position: absolute;
        top: -3.5rem; }
      .content .contact .blurb {
        width: 92%;
        margin-left: auto; }
    .content .flexbox {
      margin-top: 3rem;
      width: 92%;
      margin-left: auto;
      display: flex;
      justify-content: space-between; }
      .content .flexbox div {
        width: 40%; }
      .content .flexbox b {
        line-height: 2rem; }
      .content .flexbox a {
        font-weight: normal;
        color: palevioletred; } }

.proj-flex a {
  color: palevioletred !important; }

ul {
  list-style: none; }

@media only screen and (max-width: 640px) {
  .proj-des {
    padding-top: 1rem;
    width: 95%;
    margin-left: auto; }
  .content {
    padding: 1rem; }
  .project {
    position: relative;
    margin-bottom: 50px; }
    .project .title {
      font-size: 2.5rem;
      word-break: keep-all; }
    .project .pictures {
      position: relative;
      outline: 1px blue solid;
      background: #d6e9fe;
      height: 25vh;
      width: 100%;
      margin-left: auto;
      margin-top: 10px; }
    .project .sub-projects ul {
      margin-right: 2rem; }
    .project .proj-flex {
      justify-content: flex-end;
      padding: 1.25em 0.75em 0.0em 3rem; }
      .project .proj-flex div:not(:first-child) {
        display: none; }
      .project .proj-flex div {
        display: flex;
        justify-content: flex-end; }
    .project .team {
      justify-content: flex-end !important; }
      .project .team p,
      .project .team ul {
        margin-right: 2rem; } }

@media only screen and (min-width: 640px) {
  .proj-des {
    padding-top: 1rem; }
  .content .project {
    position: relative;
    margin-bottom: 50px; }
    .content .project .title {
      font-size: 2.5rem;
      word-break: keep-all;
      position: absolute;
      top: 30px; }
    .content .project .pictures {
      position: relative;
      outline: 1px blue solid;
      background: #d6e9fe;
      height: 500px;
      width: 92%;
      margin-left: auto; }
    .content .project .sub-projects ul {
      margin-right: 2rem; }
    .content .project .proj-flex {
      display: flex;
      justify-content: space-between;
      padding: 1.25em 0.75em 0.0em 3rem; }
      .content .project .proj-flex div {
        display: flex;
        justify-content: flex-start; }
    .content .project .team {
      justify-content: flex-end !important; }
      .content .project .team p,
      .content .project .team ul {
        margin-right: 2rem; } }

.content .papers {
  position: relative;
  margin-top: 100px; }

.content .papers .backdrop {
  color: #70809077;
  font-size: 10rem;
  position: absolute;
  top: -70px;
  left: 0; }

.content .papers .paper {
  width: 92%;
  line-height: 1.75rem;
  margin-left: auto;
  color: palevioletred;
  margin-bottom: 20px; }
  .content .papers .paper a {
    text-align: right;
    font-weight: bold;
    color: palevioletred; }
  .content .papers .paper p {
    margin-bottom: .5rem;
    color: black; }

@font-face {
  font-family: "Plex";
  src: url("../fonts/IBMPlexSans-Light.woff") format("woff"); }

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px; }

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  background-color: #fff;
  font-family: "Inconsolata", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1.3rem;
  max-width: 1200px !important;
  margin: auto; }

p {
  line-height: 1.5rem; }

a {
  text-decoration: none;
  color: #575757;
  font-weight: 600;
  height: 100%; }

a:link,
a:visited {
  color: #5d6063;
  text-decoration: none; }

a:hover {
  font-style: italic; }

nav li {
  list-style: none; }

ol {
  margin: 0.75rem;
  padding-left: 4rem; }

.pictures {
  z-index: -1; }

/* TEXT DECORATION */
.bold {
  font-weight: bold; }

.current-page {
  font-weight: bold;
  text-decoration: underline; }

.one-word-per-line {
  word-spacing: 200px; }

.textblock:hover .backdrop {
  font-style: italic; }

.flexblock div:hover .backdrop {
  font-style: italic; }

.backdrop {
  color: rgba(1, 1, 230, 0.08) !important; }

/* Mobile Styles Start*/
@media only screen and (max-width: 640px) {
  html {
    font-size: 13px; }
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    background: #d6e9fe; }
    .navbar div {
      height: 50px;
      width: 50px;
      padding: 4px; }
      .navbar div img {
        max-width: 100%;
        max-height: 100%; }
    .navbar ul {
      list-style: none;
      padding-top: 5px; }
      .navbar ul li {
        text-align: right; }
  .content {
    width: 90%;
    margin: 0 auto; }
    .content .showcase {
      position: relative; }
      .content .showcase .title {
        display: none;
        font-size: 2rem;
        width: 148px;
        word-break: keep-all;
        position: absolute;
        top: 30px; }
      .content .showcase .pictures {
        position: relative;
        outline: 1px blue solid;
        height: 350px;
        width: 100%;
        margin-left: auto; }
    .content .textblock {
      margin-top: 65px;
      position: relative; }
      .content .textblock .backdrop {
        color: #70809077;
        font-size: 6rem;
        position: absolute;
        top: -45px; }
      .content .textblock .about_words {
        width: 92%;
        margin-left: auto;
        font-size: 1rem; }
    .content .flexblock {
      position: relative;
      margin-top: 65px;
      display: flex;
      justify-content: space-between;
      flex-direction: column; }
      .content .flexblock p,
      .content .flexblock ul,
      .content .flexblock ol {
        width: 95%;
        margin-top: 0.5rem;
        margin-left: auto; }
      .content .flexblock .backdrop {
        color: #70809077;
        font-size: 6rem;
        position: absolute;
        top: -45px; }
      .content .flexblock .project-peek {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        width: 100%; }
        .content .flexblock .project-peek div {
          width: 95%;
          margin-left: auto;
          margin-bottom: 1rem; }
        .content .flexblock .project-peek .proj-link {
          text-align: right; }
      .content .flexblock .twitter {
        margin-top: 3rem;
        background: #5d6063;
        width: 100%;
        height: 200px; }
        .content .flexblock .twitter .backdrop {
          position: relative;
          top: -45px; } }

/* Mobile Styles Done*/
/* Tablet Styles */
/* Desktop Styles Start*/
@media only screen and (min-width: 640px) {
  .navbar {
    width: 82%;
    padding: 50px 0;
    margin: 0 auto;
    display: flex;
    font-size: 1.3rem;
    justify-content: space-between;
    align-items: center; }
    .navbar div {
      height: 100px;
      width: 100px;
      padding: 4px; }
      .navbar div img {
        max-height: 100%; }
    .navbar ul {
      display: flex;
      justify-content: space-between;
      width: 350px; }
      .navbar ul li:nth-child(1) {
        display: none; }
  .content {
    width: 82%;
    margin: 0 auto; }
    .content .showcase {
      position: relative; }
      .content .showcase .title {
        font-size: 2.5rem;
        width: 10%;
        word-break: keep-all;
        position: absolute;
        top: 30px; }
      .content .showcase .pictures {
        position: relative;
        background: #d6e9fe;
        height: 500px;
        width: 92%;
        margin-left: auto;
        z-index: -1;
        margin-bottom: 100px; }
    .content .textblock {
      position: relative;
      margin-top: 40px;
      margin-bottom: 90px; }
      .content .textblock .backdrop {
        color: #70809077;
        font-size: 6rem;
        position: absolute;
        top: -4.2rem; }
      .content .textblock p,
      .content .textblock ul,
      .content .textblock ol {
        width: 92%;
        margin-left: auto; }
    .content .flexblock {
      position: relative;
      margin-top: 40px;
      margin-bottom: 90px;
      display: flex;
      justify-content: space-between; }
      .content .flexblock div {
        position: relative; }
      .content .flexblock p,
      .content .flexblock ul,
      .content .flexblock ol {
        width: 95%;
        margin-top: 0.5rem;
        margin-left: auto; }
      .content .flexblock .backdrop {
        color: #70809077;
        font-size: calc(3rem + 3vw);
        position: absolute;
        top: calc(-15px - 3vw); }
      .content .flexblock .project-peek {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        width: 47%; }
        .content .flexblock .project-peek div {
          width: 95%;
          margin-left: auto;
          margin-bottom: 1rem; }
        .content .flexblock .project-peek .proj-link {
          text-align: right; }
      .content .flexblock .twitter {
        background: #5d6063;
        width: 47%; } }

/* Desktop Styles Done*/

/*# sourceMappingURL=styles.css.map */