.content {
  width: 100%; }
  .content .people-group {
    display: flex;
    margin-bottom: 2rem; }
  .content .new-group {
    position: relative;
    margin-top: 110px; }
    .content .new-group .backdrop {
      color: #70809077;
      font-size: 4em;
      position: absolute;
      top: -110px; }
  .content #second {
    margin-top: 140px !important; }
  .content .solo {
    width: 100% !important; }
  .content .person {
    width: 50%;
    display: flex;
    align-items: flex-end;
    padding-top: 1em;
    margin: auto; }
    .content .person div {
      width: 100%;
      padding: 0 1em; }
      .content .person div h1 {
        font-size: 1.2em;
        padding-bottom: .1em; }
      .content .person div h2 {
        font-size: 1em;
        padding-bottom: .3em; }
      .content .person div p {
        font-size: .6em; }

@media only screen and (max-width: 600px) {
  .people-group {
    flex-direction: column; }
  .person {
    width: 80%; } }

/* Mobile Styles Start*/
@media only screen and (max-width: 600px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    background: #D6E9FE; }
    .navbar div {
      height: 50px;
      width: 50px;
      padding: 4px; }
      .navbar div img {
        max-width: 100%;
        max-height: 100%; }
    .navbar ul {
      list-style: none;
      padding-top: 5px; }
      .navbar ul li {
        text-align: right; }
  .content {
    width: 100%;
    margin: 0 auto; }
    .content .pictures {
      position: relative;
      outline: 1px blue solid;
      height: 350px;
      width: 100%;
      margin-left: auto; }
    .content .contact {
      margin-top: 75px;
      position: relative; }
      .content .contact .backdrop {
        color: #70809077;
        font-size: 3em;
        position: absolute;
        top: -85px; }
      .content .contact .blurb {
        width: 92%;
        margin-left: auto;
        font-size: .7em; }
      .content .contact .contact-links {
        margin-top: 2rem;
        text-align: center; } }

@media only screen and (min-width: 601px) {
  .content {
    width: 82%;
    margin: 0 auto;
    margin-bottom: 100px; }
    .content .pictures {
      position: relative;
      outline: 1px blue solid;
      height: 500px;
      width: 100%;
      margin-left: auto; }
    .content .contact {
      position: relative;
      margin-top: 80px; }
      .content .contact .backdrop {
        color: #70809077;
        font-size: 6em;
        position: absolute;
        top: -95px; }
      .content .contact .blurb {
        width: 92%;
        margin-left: auto; }
    .content .contact-links {
      margin-top: 3rem;
      text-align: center; } }

.proj-flex a {
  color: palevioletred !important; }

@media only screen and (max-width: 600px) {
  .proj-des {
    padding-top: 1em;
    font-size: .75em; }
  .content {
    padding: 1em; }
  .project {
    position: relative;
    margin-bottom: 50px; }
    .project .title {
      font-size: 36px;
      word-break: keep-all; }
    .project .pictures {
      position: relative;
      outline: 1px blue solid;
      height: 25vh;
      width: 92%;
      margin-left: auto;
      margin-top: 10px; }
    .project .sub-projects ul {
      font-size: .75em;
      margin-right: 2em;
      list-style-type: circle; }
    .project .proj-flex {
      justify-content: flex-end;
      padding: 1.25em .75em .0em 3em; }
      .project .proj-flex div:not(:first-child) {
        display: none; }
      .project .proj-flex div {
        display: flex;
        justify-content: flex-end; }
    .project .team {
      justify-content: flex-end !important; }
      .project .team ul, .project .team p {
        font-size: .75em;
        margin-right: 2em; } }

@media only screen and (min-width: 601px) {
  .proj-des {
    font-size: .75em;
    padding-top: 1em; }
  .content .project {
    position: relative;
    margin-bottom: 50px; }
    .content .project .title {
      font-size: 28px;
      word-break: keep-all;
      position: absolute;
      top: 30px; }
    .content .project .pictures {
      position: relative;
      outline: 1px blue solid;
      height: 330px;
      width: 92%;
      margin-left: auto; }
    .content .project .sub-projects ul {
      font-size: .75em;
      margin-right: 2em;
      list-style-type: circle; }
    .content .project .proj-flex {
      display: flex;
      justify-content: space-between;
      padding: 1.25em .75em .0em 3em; }
      .content .project .proj-flex div {
        display: flex;
        justify-content: flex-start; }
    .content .project .team {
      justify-content: flex-end !important; }
      .content .project .team ul, .content .project .team p {
        font-size: .75em;
        margin-right: 2em; } }

.content .papers {
  font-size: .75em;
  position: relative;
  margin-top: 100px; }

.content .papers .backdrop {
  color: #70809077;
  font-size: 8em;
  position: absolute;
  top: -100px;
  left: 0px; }

.content .papers .paper {
  width: 92%;
  margin-left: auto;
  margin-bottom: 15px; }

.content .papers .paper a {
  text-align: right;
  color: palevioletred;
  font-weight: bold; }

@font-face {
  font-family: 'Plex';
  src: url("../fonts/IBMPlexSans-Light.woff") format("woff"); }

html {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px; }

body {
  background-color: #fff;
  font-family: 'Plex', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5em;
  max-width: 50em !important;
  margin: auto; }

a {
  text-decoration: none;
  color: #575757;
  font-weight: 600;
  height: 100%; }

a:link,
a:visited {
  color: #5D6063;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

li {
  list-style: none; }

/* TEXT DECORATION */
.bold {
  font-weight: bold; }

.current-page {
  font-weight: bold; }

.backdrop {
  color: rgba(1, 1, 230, 0.08) !important; }

/* Mobile Styles Start*/
@media only screen and (max-width: 600px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    background: #D6E9FE; }
    .navbar div {
      height: 50px;
      width: 50px;
      padding: 4px; }
      .navbar div img {
        max-width: 100%;
        max-height: 100%; }
    .navbar ul {
      list-style: none;
      padding-top: 5px; }
      .navbar ul li {
        text-align: right; }
  .content {
    width: 100%;
    margin: 0 auto; }
    .content .showcase {
      position: relative; }
      .content .showcase .title {
        display: none;
        font-size: 28px;
        outline: 1px lightcoral solid;
        width: 148px;
        word-break: keep-all;
        position: absolute;
        top: 30px; }
      .content .showcase .pictures {
        position: relative;
        outline: 1px blue solid;
        height: 350px;
        width: 100%;
        margin-left: auto; }
    .content .about {
      margin-top: 75px;
      position: relative; }
      .content .about .backdrop {
        color: #70809077;
        font-size: 3em;
        position: absolute;
        top: -85px; }
      .content .about .about_words {
        width: 92%;
        margin-left: auto;
        font-size: .7em; } }

/* Mobile Styles Done*/
/* Tablet Styles */
/* Desktop Styles Start*/
@media only screen and (min-width: 601px) {
  .navbar {
    width: 82%;
    padding: 50px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .navbar div {
      height: 100px;
      width: 100px;
      padding: 4px; }
      .navbar div img {
        max-height: 100%; }
    .navbar ul {
      display: flex;
      justify-content: space-between;
      width: 500px; }
      .navbar ul li:nth-child(1) {
        display: none; }
  .content {
    width: 82%;
    margin: 0 auto; }
    .content .showcase {
      position: relative;
      margin-bottom: 100px; }
      .content .showcase .title {
        font-size: 28px;
        width: 148px;
        word-break: keep-all;
        position: absolute;
        top: 30px; }
      .content .showcase .pictures {
        position: relative;
        outline: 1px blue solid;
        height: 500px;
        width: 92%;
        margin-left: auto; }
    .content .about {
      position: relative;
      margin-top: 40px; }
      .content .about .backdrop {
        color: #70809077;
        font-size: 6em;
        position: absolute;
        top: -95px; }
      .content .about .about_words {
        width: 92%;
        margin-left: auto; } }

/* Desktop Styles Done*/

/*# sourceMappingURL=styles.css.map */