.people h1 { 
    margin-bottom:1rem 
}

.people h2 { 
    display:flex; 
    justify-content:space-between 
}

.people h2 span {
    transform:rotate(0deg); 
    transition-delay:50ms; 
    transition:all 450ms ease-in-out 
}

.people h2 .rotated { 
    transform:rotate(-540deg) 
}

.people .people-group { 
    display:flex; 
    flex-direction:row; 
    justify-content:space-evenly; 
    align-items:flex-start; 
    align-content:flex-start; 
    flex-wrap:wrap 
} 

.people .people-group .textblock { 
    flex-basis:20rem; 
    margin-bottom:2rem 
}

.people .people-group .textblock h2 { 
    border-bottom:solid 2px #000; 
    padding:.75rem 
}

.people .people-group .top_dog h2 { 
    border:0 
}

.people .people-group .top_dog h3 { 
    padding:0 .75rem .75rem; 
    border-bottom:2px solid #000; 
    font-size:1.2rem 
} 

.people article:not(.leaders) p { 
    -webkit-line-clamp:60; 
    line-clamp:60 
}
.people article:not(.leaders) p.contracted_text {
    -webkit-box-orient:vertical;
    display:-webkit-box;
    -webkit-line-clamp:8;
    line-clamp:60;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:normal;
    transition:line-clamp 5s linear 
}

.people .alumni ul { 
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    align-items:flex-start;
    min-height:10rem
}

.people .alumni ul li {
    font-size:1.5rem;
    font-weight:bold;
    border:2px solid #000;
    padding:.5rem;
    margin-bottom:.5rem
}

.people img {
    width:100%;
    border-bottom:2px solid #000;
    user-select:none
}

.projectpages .textblock h2{ 
    margin: 0.5em;
    margin-top: 0.75em;
}

.projectpages .textblock li{ 
    margin: 1.5em;
}

.projectpages .textblock ol li{ 
    margin-left: 3em;
}

.projectpages .textblock ul{ 
    list-style-type: disc;
}

.projectpages section { 
    word-wrap: break-word;
}

.projectpages img { 
    margin-top: 10px;
    height: 250px;
    width: auto; 
}

.projectpages h1 { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projectpages h1 span { 
    flex-shrink: 0;
}

.pictures {
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
}

.text_truncator {
    -webkit-box-orient:vertical;
    display:-webkit-box;
    -webkit-line-clamp:8;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:normal
}

.contact .textblock {
    max-width:30rem;
    margin-top:1rem
}

@media only screen and (max-width: 640px) {
    .contact .textblock{max-width:55rem}
}

.contact ul {
    list-style-type:disc
}

.contact .big-logo { 
    left:unset; 
    right:2rem 
} 

.projects {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-start;
    align-content:flex-start;
    flex-wrap:wrap
}

.projects h1 {
    display:flex;
    justify-content:space-between
}

.projects h1 span {
    transform:rotate(0deg);
    transition-delay:50ms;
    transition:all 450ms ease-in-out
}

.projects h1 .rotated {
    transform:rotate(-540deg)
}

.projects .textblock {
    margin-bottom:1em;
    flex-basis:45rem;
    max-height:90rem
}

.projects img {
    width:100%;
    height:auto;
    max-height:100rem;
    transition:max-height 1s linear;
    overflow:hidden;
    border-bottom:#000 2px solid
}

.papers { 
    display:flex; 
    flex-direction:column 
} 

.papers .textblock { 
    max-width:75rem; 
    margin-bottom:2rem 
} 

.papers .textblock .window__paper { 
    border-bottom:solid #000 2px 
}

.papers .textblock .window__paper a { 
    font-weight:bold; 
    margin-top:0 
} 

.papers .textblock :last-child { 
    border-bottom:none 
}

.classes .textblock { 
    max-width:60rem; 
    margin-bottom:2rem 
} 

.classes .textblock h1 { 
    display:flex; 
    justify-content:space-between; 
    flex-wrap:wrap 
} 

.classes .textblock p, 
.classes .textblock ol { 
    margin:.75rem 
}

.classes .textblock span, 
.classes .textblock a { 
    margin:.75rem; 
    font-weight:bold 
} 

.events { 
    display:flex; 
    justify-content:space-between; 
    flex-wrap:wrap; 
    align-items:flex-start; 
    list-style-position:inside 
} 

.events .textblock { 
    margin-bottom:1rem; 
    max-width:70rem 
} 

.events .textblock h2, 
.events .textblock p, 
.events .textblock ol { 
    margin:.75rem 
}

.events .textblock h3 { 
    margin:0 .75rem 
}

.events .info { 
    max-width:20rem 
} 

.events .schedule { 
    display:flex; 
    flex-wrap:wrap; 
    justify-content:space-between 
} 

.events .schedule h1 { 
    flex:0 0 100% 
}

.events .schedule h2 { 
    text-decoration-line:underline 
} 

.events .schedule p { 
    margin:0 .75rem 
} 

.events .schedule section { 
    max-width:300px 
}

.events .schedule section :last-child { 
    margin-bottom:.75rem 
} 

@media only screen and (max-width: 640px) { 
    .events .info{max-width:25rem} 
} 

.cls-1, .cls-10, .cls-11, .cls-13, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8, .cls-9 { 
    fill:none; 
    stroke-miterlimit:10 
}

.cls-1, .cls-2, .cls-3 { 
    stroke:#3a2163
} 

.cls-1 { 
    stroke-width:9.77px 
} 

.cls-10, .cls-11, .cls-2, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8, .cls-9 { 
    stroke-width:70px 
}

.cls-3 { 
    stroke-width:70px 
}

.cls-4 { 
    stroke:#fbb040 
} 

.cls-10, .cls-11, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8, .cls-9 { 
    stroke-linecap:round 
} 

.cls-5 { 
    stroke:#f9ed32 
} 

.cls-6 { 
    stroke:#8dc63f 
} 

.cls-7 { 
    stroke:#00a79d 
} 

.cls-8 { 
    stroke:#be1e2d 
} 

.cls-13, .cls-9 { 
    stroke:#ec008c
} 

.cls-10 { 
    stroke:#ef4136 
} 

.cls-11 { 
    stroke:#2e3192 
} 

.cls-12 { 
    fill:#3a2163 
} 

.cls-13 { 
    stroke-width:.01px 
} 

.big-logo { 
    width:40vw; 
    position:fixed; 
    bottom:2rem; 
    z-index:1; 
    animation:fade-in 60s ease forwards; 
    opacity:0 
} 

.big-logo > line { 
    stroke-dasharray:1200px; 
    stroke-dashoffset:0; 
    transition:stroke-dashoffset 3s linear 
} 

.big-logo > polyline { 
    stroke-dasharray:2000px; 
    stroke-dashoffset:0; 
    transition:stroke-dashoffset 2s linear 
} 

.big-logo:hover > line { 
    stroke-dashoffset:100rem 
} 

.big-logo:hover > polyline { 
    stroke-dashoffset:2000px 
} 

@media only screen and (max-width: 640px) { 
    .big-logo { 
        display:none 
    } 
} 

.black-logo path { 
    fill:#000 
} 

.black-logo > * { 
    stroke:#000 
} 

@keyframes fade-in { 
    from { 
        opacity:0 
    } 
    
    to { 
        opacity:1 
    } 
} 

@font-face { 
    font-family:"AHAMONO"; 
    src: url("../assets/fonts/AHAMONO-Regular.eot?#iefix") format("embedded-opentype"), 
         url("../assets/fonts/AHAMONO-Regular.otf") format("opentype"), 
         url("../assets/fonts/AHAMONO-Regular.woff") format("woff"), 
         url("../assets/fonts/AHAMONO-Regular.ttf") format("/truetype"), 
         url("../assets/fonts/AHAMONO-Regular.svg#AHAMONO-Regular") format("svg"); 
    font-weight: normal; 
    font-style: normal; 
    font-display: swap 
} 

html { 
    box-sizing:border-box; 
    margin:0; 
    padding:0; 
    font-size:12px; 
    -webkit-font-smoothing:antialiased; 
    -moz-osx-font-smoothing:grayscale 
} 

*, *::after, *::before { 
    box-sizing:inherit; 
    margin:0; 
    padding:0 
} 

body { 
    background-color:#fff; 
    font-family:"AHAMONO"; 
    font-size:1.2rem; 
    max-width:1200px !important; 
    height:100vh 
} 

ul { 
    list-style:none 
}

.people .people-group .textblock a, 
.people .people-group .textblock button, 
.papers .textblock .window__paper a, 
.projects .textblock .box,
.projectpages .textblock .box,
.classes .textblock span, 
.classes .textblock a { 
    margin:.4rem; 
    display:inline-block; 
    border:2px solid #000; 
    text-decoration:none; 
    padding:.5rem; 
    font-size:1rem; 
    background-color:#fff; 
    color:#000; 
    transition:all .2s linear 
} 

.people .people-group .textblock a:hover, 
.people .people-group .textblock button:hover, 
.papers .textblock .window__paper a:hover, 
.classes .textblock span:hover, 
.classes .textblock a:hover { 
    color:#fff; 
    background-color:#000 
} 

@media only screen and (max-width: 640px) { 
    body { 
        padding-bottom:7rem; 
        height:100% 
    } 
    
    body header h1 { 
        margin:3rem 1rem 
    } 
    
    body header nav ul { 
        display:flex; 
        justify-content:space-around; 
        margin:0; 
        position:fixed; 
        bottom:0; 
        z-index:9999; 
        width:100vw 
    } 
    
    body header nav ul li a { 
        font-size:1rem; 
        display:flex; 
        flex-direction:column-reverse 
    } 
    
    body header nav ul li a i { 
        font-size:2rem 
    } 
    
    body header nav ul li .current-page { 
        text-decoration:none 
    } 
    
    body main { 
        margin:0 1.2rem 2rem 
    } 
    
    body main .logo, 
    body main #logo3 { 
        display:none; 
        position:fixed; 
        bottom:6rem; 
        width:auto; 
        left:0; 
        z-index:-1 
    } 
    
    body .people .textblock { 
        flex-grow:1 
    } 

    .projectpages img {
        margin-top: 10px;
        max-width: 90vw;
        max-height: 30vh;
        height: auto;
        width: auto;
    }

    iframe {
        margin-top: 10px;
        max-width: 90vw;
        max-height: 90vh;
        height: auto;
        width: auto;
    }
} 

header { 
    position:relative; 
    z-index:9999 
} 

header h1 { 
    font-size:2rem; 
    padding:5px; 
    margin:3rem 3rem 0 
} 

header nav ul { 
    margin:0 3rem 3rem; 
    background-color:#fff; 
    display:flex; 
    flex-wrap:wrap; 
    font-size:1.5rem; 
    justify-content:space-around; 
    font-weight:bold; 
    border:solid #000 2px 
}

.btn-group { 
    display: inline-flex;
}

.btn { 
    padding: unset; 
    transition: none;
}

.btn-primary,
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary a:focus, 
.btn-primary:focus-visible, 
.btn-primary a:focus-visible, 
.btn-primary:active, 
.btn-primary a:active,
.btn-primary:active:hover, 
.btn-primary:active:focus,
.btn-primary a:active:hover,
.btn-primary:focus:hover, 
.open>.dropdown-toggle.btn-primary:focus:hover, 
.open>.dropdown-toggle.btn-primary:active:hover, 
.open>.dropdown-toggle.btn-primary, 
.open>.dropdown-toggle.btn-primary:focus, 
.open>.dropdown-toggle.btn-primary:hover, 
.btn-primary.active:hover, 
.btn-primary.active:focus, 
.btn-primary:active.focus, 
.btn-primary.active.focus, 
.open>.dropdown-toggle.btn-primary.focus 
.btn-primary.active, 
.btn-primary.focus { 
    transition: none;
    border-color: white;
    background-color: white;
    color: black;
    outline: unset;
    box-shadow: unset;
}

.btn-primary {
    color: black; 
    border-color: white;
    background-color: white;
}

.btn-primary a { 
    font-weight: bold;
}

header nav ul li a, 
header nav .dropdown-menu a { 
    transition:all .5s; 
    color:#717171; 
    text-decoration:none; 
    font-size:1.5rem; 
    height:5rem; 
    display:flex; 
    justify-content:center; 
    align-items:center; 
    text-align: unset;
}

header nav ul li a:hover { 
    color:#000; 
    text-decoration:underline 
} 

header nav ul li .current-page { 
    color:#000 !important; 
    text-decoration:underline 
} 

main { 
    margin:0 3rem 3rem 
} 

main .list_with_padding { 
    padding-left:3rem 
} 

main .textblock { 
    border:solid 2px #000; 
    transition:box-shadow .2s linear; 
    background-color:#fff 
} 

main .textblock:hover { 
    box-shadow:4px 5px 
} 

main .textblock h1 { 
    border-bottom:solid 2px #000; 
    padding:.75rem 
} 

main .textblock p, 
main .textblock ol, 
main .textblock ul { 
    margin:.75rem 
} 

main .twitter { 
    max-width:500px 
} 

main .twitter .twitter-embed { 
    overflow-y:scroll; 
    max-height:300px 
} 

main .logo { 
    background-color:transparent; 
    position:fixed; 
    bottom:0; 
    left:2rem; 
    z-index:-1; 
    width:43vw; 
    transition:opacity 30s; 
    opacity:0 
} 

main .logo.loaded { 
    opacity:1 
}

main .visually_hidden {
    display:block;
    max-height:0rem;
    width:100%;
    height:auto; 
    transition:max-height 1s linear;
    overflow:hidden;
    border-bottom:#000 2px solid;
    clip:rect(1px, 1px, 1px, 1px);
    clip-path:inset(1px);
    white-space:nowrap;
}

main.about ol { 
    margin: .75rem; 
}

main.about .textblock {
    max-width: 55rem;
    margin-bottom: 1vh;
    margin-left: auto;
    position: relative;
    z-index: 99;
} 