.classes {
    .textblock {
        max-width: 60rem;
        margin-bottom: 2rem;
        h1 {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        p,
        ol {
            margin: 0.75rem;
        }
        span, a{
            @extend %squared_button  !optional;
            margin: 0.75rem;
            font-weight: bold;
        }
    }

}