
  .contact {
    

    .textblock {
      max-width: 30rem;
      margin-top: 1rem;
    }
    @media only screen and (max-width: 640px) {
      .textblock {
        max-width: 55rem;

      }
    }
    
    ul {
      list-style-type: disc;
    }
    .big-logo {
      left: unset;
      right: 2rem;
    }
    

}
