.events {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .textblock {
        margin-bottom: 1rem;
        max-width: 65rem;

        h2,
        p, ol {
            margin: .25rem .75rem
        }
        
    }


}