.events {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .textblock {
        margin-bottom: 1rem;
        max-width: 65rem;

        h2,
        p, ol {
            margin: .75rem
        }
        h3 {
            margin: 0 .75rem
        }
    }
    .schedule {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        h1 {
            flex: 0 0 100%;
        }
        h2 {
            text-decoration-line: underline;
        }
        p {
            margin: 0 .75rem;
        }
        section {
            :last-child {
                margin-bottom: .75rem;
            }
        }
    }


}