.papers{
  display: flex;
  flex-direction: column;
  .textblock {
    max-width: 75rem;
    margin-bottom: 2rem;
    .window__paper {
      border-bottom: solid black 2px;
      a {
        @extend %squared_button;
        font-weight: bold;
      }
    }
    :last-child{
      border-bottom: none;
    }
    
  }    
}