.content .papers {
  position: relative;
  margin-bottom: 50px;
  .backdrop {
    font-size: 3rem;
    position: absolute;
    top: 16px;
    left: -30px;
  }
  .pub_entry:nth-child(2) {
    padding-top: 20px;
    border-top: 2px solid #000;
  }
}

.content .papers .pub_entry {
  width: 90%;
  // line-height: 1.75rem;
  font-size: 1.3rem;
  margin-left: auto;
  margin-bottom: 20px;
  // border-left: solid 1px #000;
  // padding-left: 5px;;
  a {
    text-align: right;
  }
  p {
    margin-bottom: 0.5rem;
    color: black;
  }
  .pub_entry__title {
    font-weight: bold;
    display: block;
  }
  .pub_entry__author {
    color: blue;
    // text-align: right
  }

  .pub_entry__author::before {
    // content: "by";
  }

  .pub_entry__publisher {
    color: red;
    display: block;
  }

  .pub_entry__publisher::before {
    // content: "in"
  }
}
