.content {
  margin-top: 50px;
  width: 100%;


  .people-group:first-child {
    margin-top: 50px;
  }

  .people-group {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4rem;
    margin-left: auto;
    position: relative;
  }

  .people-column {
    width: 45%;
    margin-left: 4%;
  }

  .person {
    width: 100%;
    margin-bottom: 2rem;

    img {
      width: 100%;
      height: auto;
      border: 1px solid black;
    }

    h1 {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      font-size: 1.75rem;
    }

    p {
      font-size: 1.25rem;
    }
  }
}
@media only screen and (max-width: 640px) {
  .content {
    .people-group {
      flex-direction: column;
      width: 100%;
      div {
        width: 96%;
        margin-left: auto;
      }
    }
    .people-column {
      width: 100%;
      margin-left: 0;
    }
    .backdrop {
      top: -55px
    }
  }
}
