.proj-flex a {
    color: palevioletred !important;
}

@media only screen and (max-width: 600px) {
        .proj-des {
    padding-top: 1em;
            font-size: .75em;
  }
    .content {
        padding: 1em;
    }
    
    .project {
    position: relative;
    margin-bottom: 50px;
        .title {
          font-size: 36px;
          word-break: keep-all;
        }
            .pictures {
      position: relative;
      outline: 1px blue solid;
      height: 25vh;
      width: 92%;
      margin-left: auto;
                margin-top: 10px;
    }
        .sub-projects ul {
      font-size: .75em;
      margin-right: 2em;
      list-style-type: circle;
    }
    .proj-flex {
        div:not(:first-child) {
            display: none;
        }
      justify-content: flex-end;
      padding: 1.25em .75em .0em 3em;
      div {
        display: flex;
        justify-content: flex-end;
      }
    }
    .team {
            justify-content: flex-end !important;
      ul, p {
        font-size: .75em;
        margin-right: 2em;
      }
    }
    }
}


@media only screen and (min-width: 601px) {
    .proj-des {
    font-size: .75em;
    padding-top: 1em;
  }
  
  .content .project {
    position: relative;
    margin-bottom: 50px;
    .title {
      font-size: 28px;
      // outline: 1px lightcoral solid;
      word-break: keep-all;
      position: absolute;
      top: 30px;
    }
    .pictures {
      position: relative;
      outline: 1px blue solid;
      height: 330px;
      width: 92%;
      margin-left: auto;
    }
    .sub-projects ul {
      font-size: .75em;
      margin-right: 2em;
      list-style-type: circle;
    }
    .proj-flex {
      display: flex;
      justify-content: space-between;
      padding: 1.25em .75em .0em 3em;
      div {
        display: flex;
        justify-content: flex-start;
      }
    }
    .team {
        justify-content: flex-end !important;
      ul, p {
        font-size: .75em;
        margin-right: 2em;
      }
    }
  }
}

