


@media only screen and (max-width: 640px) {
}
@media only screen and (min-width: 640px) {
  .projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;

    outline: solid rosybrown 1px;
    .textblock {
      margin-top: 1em;
      flex-basis: 45rem;
      max-height: 60rem;
      img {
        width: 100%;
      }
      p {
        padding: 1rem;
      }
    }
  }
  
}