.proj-flex a {
  color: palevioletred !important;
}
@media only screen and (max-width: 600px) {
  .proj-des {
    padding-top: 1rem;
    font-size: 1rem;
  }

  .content {
    padding: 1rem;
  }

  .project {
    position: relative;
    margin-bottom: 50px;

    .title {
      font-size: 36px;
      word-break: keep-all;
    }

    .pictures {
      position: relative;
      outline: 1px blue solid;
      height: 25vh;
      width: 92%;
      margin-left: auto;
      margin-top: 10px;
    }

    .sub-projects ul {
      font-size: 1rem;
      margin-right: 2rem;
      list-style-type: circle;
    }

    .proj-flex {
      div:not(:first-child) {
        display: none;
      }
      justify-content: flex-end;
      padding: 1.25em 0.75em 0.0em 3rem;

      div {
        display: flex;
        justify-content: flex-end;
      }
    }

    .team {
      justify-content: flex-end !important;

      p,
      ul {
        font-size: 0.75rem;
        margin-right: 2rem;
      }
    }
  }
}
@media only screen and (min-width: 601px) {
  .proj-des {
    font-size: 1rem;
    padding-top: 1rem;
  }

  .content .project {
    position: relative;
    margin-bottom: 50px;

    .title {
      font-size: 28px;
      // outline: 1px lightcoral solid;
      word-break: keep-all;
      position: absolute;
      top: 30px;
    }

    .pictures {
      position: relative;
      outline: 1px blue solid;
      height: 330px;
      width: 92%;
      margin-left: auto;
    }

    .sub-projects ul {
      font-size: 1rem;;
      margin-right: 2rem;
      list-style-type: circle;
    }

    .proj-flex {
      display: flex;
      justify-content: space-between;
      padding: 1.25em 0.75em 0.0em 3rem;

      div {
        display: flex;
        justify-content: flex-start;
      }
    }

    .team {
      justify-content: flex-end !important;

      p,
      ul {
        font-size: 0.75rem;
        margin-right: 2rem;
      }
    }
  }
}
