@font-face {
  font-family: "AHAMONO";
  src: url("/assets/fonts/AHAMONO-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/AHAMONO-Regular.otf") format("opentype"),
    url("/assets/fonts/AHAMONO-Regular.woff") format("woff"),
    url("/assets/fonts/AHAMONO-Regular.ttf") format("/truetype"),
    url("/assets/fonts/AHAMONO-Regular.svg#AHAMONO-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

$one: #fff;
$two: #fff;
$three: #fff;
$four: #fff;
$five: #fff;

* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  @media screen and (max-width: 420px) { 
    font-size: 14px;
  }
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "AHAMONO";
  margin: 0;
  overscroll-behavior: none;
}

p {
  line-height: 1.3rem;
}

a {
  transition: all 300ms ease-in-out;
}

a:hover {
  letter-spacing: 0.1rem;
}

a:visited {
  color: rgb(165, 85, 187);
}

//

.background_bio {
  @media screen and (max-width: 800px) {
    padding: 175px 10vw 100px 10vw;
  }
  font-family: "AHAMONO";
  font-size: calc(3vh + 2.5vw);
  z-index: -1;
  position: fixed;
  left: 0;
  padding: 20vh 10vw;
  color: rgba(0, 0, 0, 0.99);
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#tiilt-logo {
  position: fixed;
  z-index: 1000;
  bottom: 2rem;
  right: 2rem;
  width: 4rem;
  height: 4rem;
  padding: 10px;
  animation: tilt 1000ms 500ms linear;
}

@keyframes tilt {
  from {
    transform: rotate(20deg);
  }
  to {
    transform: rotate(0);
  }
}

.nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "AHAMONO";
  z-index: 1000;
  position: fixed;
  left: 3rem;
  top: 2.5rem;
  cursor: pointer;
  .nav__partition {
    .nav__title {
      border: solid black;
      border-width: 2px 2px 0 2px;
      margin: 0;
      padding: 10px;
      font-size: 1.25rem;
      text-transform: uppercase;
    }
  }
  .nav__filters {
    display: flex;
    justify-content: space-around;
    border: solid black;
    border-width: 2px 2px 0 2px;
    .current-nav__filters__filter {
      font-weight: bold;
      border: solid black;
      background: rgba(254, 254, 254, 0);
      border-width: 0 2px 0 2px;
      border-bottom: 0 solid #000 !important;
    }
    .current-nav__filters__filter:first-of-type {
      border: solid black;
      border-width: 0 2px 0 0;
      border-bottom: 0 solid #000;
    }
    .current-nav__filters__filter:last-of-type {
      border: solid black;
      border-width: 0 0 0 2px;
      border-bottom: 0 solid #000;
    }
    .nav__filters__filter {
      @media screen and (max-width: 620px) {
        font-size: 1rem;
      }
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 3rem;
      width: 25%;
      border-bottom: solid black 2px;
      // box-shadow: 2px 3px;
      font-size: 1.25rem;
      font-weight: bold;
      padding: 0 5px;
      span {
        display: block;
        text-align: center;
      }
    }
  }
  @media screen and (max-width: 800px) {
    top: 15px;
    right: 15px;
    max-width: 785px;
    .nav__partition .nav__title {
      font-size: 1.05rem;
    }
    .nav__filters .nav__filters__filter {
      font-size: 1.05rem;
    }
  }

  @media screen and (max-width: 350px) {
    .nav__partition .nav__title {
      font-size: 1rem;
    }
    .nav__filters {
      .nav__filters__filter {
        font-size: .9rem;
      }
    }
  }
}

.spacer {
  height: 175px;
  @media screen and (max-width: 620px) {
    height: 170px;
  }
}

.window {
  max-width: 85vw;
  background: rgba(254, 254, 254, 0.96);
  border: solid black 2px;
  // box-shadow: 2px 3px;
  margin: auto auto 100px auto;
  .window__header {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 2rem;
    vertical-align: middle;
    border-bottom: solid black 2px;
    padding: 2px 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .window__header::after {
    transform: rotate(0deg);
    transition-delay: 50ms;
    transition: all 450ms ease-in-out;
  }
  .window__hidden {
    width: 100%;
    max-height: 0px;
    border-bottom: 0px solid #000;
    overflow: hidden;
    img {
      width: 100%;
    }
    transition: max-height 500ms linear;
  }
  .window__hidden {
    cursor: pointer;
  }
  .window__image {
    margin: 0 1% 0.5% 1%;
    max-width: 98%;
    border: 2px solid black;
  }

  .window__image:last-child {
    margin: 0 1% 0 1%;
  }
  transition: margin 0.5s linear;
  transition: box-shadow 0.2s linear;
}

.window:hover {
  box-shadow: 4px 5px;
  .window__hidden {
    max-height: 10px;
  }
}

.window--active {
  .window__header::after {
    transform: rotate(-540deg);
  }
  .window__hidden {
    max-height: 1000px !important;
    img {
      border-bottom: 2px solid #000;
    }
  }
}

.window--image {
  width: 600px;
  overflow: hidden;
  .window__header {
    background: $one;
  }
  img {
    width: 100%;
    margin-bottom: -5px;
  }
}

.grid {
  display: flex;
  max-width: 1000px;
  margin: auto !important;
  justify-content: space-evenly;
  .grid__col {
    width: 33%;
  }
  .grid__item {
    margin: 0;
  }
  .grid__item--third {
    display: none;
  }
  @media screen and (max-width: 620px) {
    flex-direction: column;
    .grid__col {
      width: 90% !important;
    }
    .grid__item {
      display: block;
    }
  }
  @media screen and (max-width: 825px) {
    .grid__item--third {
      display: block;
    }
  }
  @media screen and (max-width: 825px) {
    .grid__col--third {
      display: none;
    }
    .grid__col {
      width: 50%;
    }
  }
}

.aGroup {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0 5vw;
  width: 100vw;
  max-width: 100vw;
  transition: left 0.5s linear;
}

#papersGroup {
  .window--papers {
    position: relative;
    width: 1000px;
    margin-bottom: 50px;
    .window__header {
      background: $five;
    }
    .window__paper:last-child {
      border-bottom: 0px solid black;
    }
    .window__paper {
      @media screen and (max-width: 420px) {
        flex-direction: column;
        p {
          overflow-y: hidden;
        }
        a:not(:last-child) {
          float: left;
        }
      }
      display: flex;
      justify-content: right;
      align-items: center;
      border-bottom: 2px solid black;
      p:first-child {
        display: block;
        height: 100%;
        line-height: 1.5rem;
        width: 99%;
        margin: 0;
        padding: 0.5rem;
      }
      a {
        background: $five;
        display: block;
        border: 2px solid black;
        width: auto;
        padding: 2px 5px;
        margin: 1rem;
        // font-weight: bold;
        color: black;
        text-decoration: none;
      }
      a:not(:last-child) {
        border-right: 2px solid black;
        margin: 0 0 0 0.5rem;
      }
    }
  }
}

#aboutGroup {
  .window {
    outline: #000;
  }

  #contact {
    width: 400px;
    .window__header {
      background: $one;
    }
  }

  .twitter {
    width: 500px;
    .window__header {
      background: $one;
    }
    .twitter-embed {
      max-height: 300px;
      overflow: scroll;
    }
  }

  .map {
    width: 400px;
    overflow: hidden;
    // height: 300px;
    .window__header {
      background: $one;
    }
    .mapouter {
      text-align: right;
      height: 300px;
      width: 396px;
    }
    .gmap_canvas {
      overflow: hidden;
      background: none !important;
      height: 300px;
      width: 396px;
    }
  }
}

#peopleGroup {
  .window--person {
    width: 85%;
    margin-bottom: 2.5rem;
    .window__header {
      background: $two;
    }
    img {
      width: 100%;
      border-bottom: 2px solid #000;
    }
    .window__description {
      margin: 5px 10px;
    }
    .reveal-arrows {
      display: block;
      margin: auto;
      text-align: center;
    }
  }
}

#classGroup {
  .window--class {
    width: 800px;
    .window__header {
      background: $four;
    }
    .window__description {
      margin: 8px 5px;
    }
    ul {
      margin: 5px;
      padding: 0;
      li {
        background: $four;
        border: 2px solid black;
        width: auto;
        display: inline-block;
        padding: 2px 5px;
        margin: 1px;
      }
    }
  }
}

#projectGroup {
  .project {
    width: 600px;
    .window__header {
      background: $three;
    }
    .window__header::after {
      content: "\25bc";
      float: right;
    }
    .window__description {
      margin: 8px 5px;
    }
    ul {
      margin: 5px;
      padding: 0;
      li {
        background: $three;
        border: 2px solid black;
        width: auto;
        display: inline-block;
        padding: 2px 5px;
        margin: 1px;
      }
      li:first-child {
        font-weight: bold;
      }
    }
  }
}

#randomGroup {
  .window--random {
    width: 500px;
    .window__header {
      background: $four;
    }
    .window__description {
      margin: 10px 5px;
    }
  }
}
