@import './people.scss';
@import './contact.scss';
@import './projects.scss';
@import './papers.scss';
@font-face {
  font-family: 'Plex';
  src: url("../fonts/IBMPlexSans-Light.woff") format('woff');
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: 'Plex', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.3em;
  max-width: 1200px !important;
    margin: auto;
}

a {
  text-decoration: none;
  color: rgb(87, 87, 87);
  font-weight: 600;
  height: 100%;
}

a:link,
a:visited {
  color: #5D6063;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style: none;
}
/* TEXT DECORATION */
.bold {
  font-weight: bold;
}

.current-page {
  font-weight: bold;
}

.backdrop {
  color: rgba(1, 1, 230, .08) !important;
}
/* Mobile Styles Start*/
@media only screen and (max-width: 600px) {
  .navbar {
    // position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    background: #D6E9FE;

    a:hover#burger {}

    div {
      height: 50px;
      width: 50px;
      padding: 4px;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    ul {
      list-style: none;
      padding-top: 5px;

      li {
        text-align: right;
      }
    }
  }

  .content {
    // outline: 1px red solid;
    width: 100%;
    margin: 0 auto;

    .showcase {
      position: relative;

      .title {
        display: none;
        font-size: 28px;
        outline: 1px lightcoral solid;
        width: 148px;
        word-break: keep-all;
        position: absolute;
        top: 30px;
      }

      .pictures {
        position: relative;
        outline: 1px blue solid;
        height: 350px;
        width: 100%;
        margin-left: auto;
      }
    }

    .about {
      margin-top: 75px;
      position: relative;

      .backdrop {
        color: #70809077;
        font-size: 3em;
        position: absolute;
        top: -85px;
      }

      .about_words {
        width: 92%;
        margin-left: auto;
        font-size: 0.7em;
      }
    }
  }
}
/* Mobile Styles Done*/
/* Tablet Styles */
// @media only screen and (min-width: 401px) and (max-width: 960px) {
//      }
/* Desktop Styles Start*/
@media only screen and (min-width: 601px) {
  .navbar {
    width: 82%;
    padding: 50px 0;
    margin: 0 auto;
    display: flex;
    font-size: 1.2em;
    // outline: 1px green solid;
    justify-content: space-between;
    align-items: center;

    div {
      height: 100px;
      width: 100px;
      padding: 4px;

      img {
        max-height: 100%;
      }
    }

    ul {
      display: flex;
      justify-content: space-between;
      width: 500px;

      li:nth-child(1) {
        display: none;
      }
    }
  }

  .content {
    // outline: 1px red solid;
    width: 82%;
    margin: 0 auto;

    .showcase {
      position: relative;

      .title {
        font-size: 28px;
        // outline: 1px lightcoral solid;
        width: 148px;
        word-break: keep-all;
        position: absolute;
        top: 30px;
      }

      .pictures {
        position: relative;
        outline: 1px blue solid;
        height: 500px;
        width: 92%;
        margin-left: auto;
      }
      margin-bottom: 100px;
    }

    .about {
      position: relative;
      margin-top: 40px;

      .backdrop {
        color: #70809077;
        font-size: 6em;
        position: absolute;
        top: -95px;
      }

      .about_words {
        width: 92%;
        margin-left: auto;
      }
    }
  }
}
/* Desktop Styles Done*/
