@import "./people.scss";
@import "./contact.scss";
@import "./projects.scss";
@import "./papers.scss";
@font-face {
  font-family: "Plex";
  src: url("../fonts/IBMPlexSans-Light.woff") format("woff");
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: "Plex", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.3rem;
  max-width: 1200px !important;
  margin: auto;
}

p {
  line-height: 1.5rem;
}

a {
  text-decoration: none;
  color: rgb(87, 87, 87);
  font-weight: 600;
  height: 100%;
}

a:link,
a:visited {
  color: #5d6063;
  text-decoration: none;
}

a:hover {
  font-style: italic;
}

nav li {
  list-style: none;
}

ol {
  margin: 0.75rem;
  padding-left: 4rem;
}
/* TEXT DECORATION */
.bold {
  font-weight: bold;
}

.current-page {
  font-weight: bold;
  text-decoration: underline;
}

section:hover {
  .backdrop {
    font-style: italic;
  }
}

.backdrop {
  color: rgba(1, 1, 230, 0.08) !important;
}
/* Mobile Styles Start*/
@media only screen and (max-width: 640px) {
  .navbar {
    // position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    background: #d6e9fe;

    a:hover#burger {
    }

    div {
      height: 50px;
      width: 50px;
      padding: 4px;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    ul {
      list-style: none;
      padding-top: 5px;

      li {
        text-align: right;
      }
    }
  }

  .content {
    // outline: 1px red solid;
    width: 100%;
    margin: 0 auto;

    .showcase {
      position: relative;

      .title {
        display: none;
        font-size: 2rem;
        outline: 1px lightcoral solid;
        width: 148px;
        word-break: keep-all;
        position: absolute;
        top: 30px;
      }

      .pictures {
        position: relative;
        outline: 1px blue solid;
        height: 350px;
        width: 100%;
        margin-left: auto;
      }
    }

    .about {
      margin-top: 75px;
      position: relative;

      .backdrop {
        color: #70809077;
        font-size: 3rem;
        position: absolute;
        top: -85px;
      }

      .about_words {
        width: 92%;
        margin-left: auto;
        font-size: 1rem;
      }
            margin-bottom: 100px;
    }
  }
}
/* Mobile Styles Done*/
/* Tablet Styles */
// @media only screen and (min-width: 401px) and (max-width: 960px) {
//      }
/* Desktop Styles Start*/
@media only screen and (min-width: 640px) {
  .navbar {
    width: 82%;
    padding: 50px 0;
    margin: 0 auto;
    display: flex;
    font-size: 1.3rem;
    justify-content: space-between;
    align-items: center;

    div {
      height: 100px;
      width: 100px;
      padding: 4px;

      img {
        max-height: 100%;
      }
    }

    ul {
      display: flex;
      justify-content: space-between;
      width: 350px;

      li:nth-child(1) {
        display: none;
      }
    }
  }

  .content {
    // outline: 1px red solid;
    width: 82%;
    margin: 0 auto;

    .showcase {
      position: relative;

      .title {
        font-size: 2.5rem;
        background-color: #fff;
        // outline: 1px lightcoral solid;
        width: calc(100% - 2rem);
        word-break: keep-all;
        position: absolute;
        top: 30px;
      }

      .pictures {
        position: relative;
        background: #d6e9fe;
        height: 500px;
        width: 92%;
        margin-left: auto;
        z-index: -1;
      }
      margin-bottom: 100px;
    }

    .about {
      position: relative;
      margin-top: 40px;
      margin-bottom: 90px;

      .backdrop {
        color: #70809077;
        font-size: 6rem;
        position: absolute;
        top: -4.2rem;
      }

      .about_words {
        width: 92%;
        margin-left: auto;
      }
      .project-peek {
        display: flex;
        justify-content: space-between;
      }
      .project-peek div [
        width: 100px;
        height: 100px;
      ]
  }
}
/* Desktop Styles Done*/
